

body {
    margin: 0;
    padding: 0;
    background-image: url(/imagenes/juego.jpeg); 
    /* background-size: cover;  */
    background-position: top center; 
    background-attachment:scroll;
    font-family: Arial, sans-serif;
}


.contenido h1 {
    background-color: #3407ff; 
    padding: 20px 40px; 
    border-radius: 10px; 
    text-align: center;
    border-radius: 30px;
    max-width: 80%;
    margin: 40px auto;
    font-family: "Bungee Spice", cursive; 
    font-weight: 400; 
}
.contenido p{
    padding: 20px 40px; 
    border-radius: 10px; 
    text-align: center;
    box-shadow: 5px 5px 10px rgba(190, 230, 14, 0.2);
    background-color: rgb(22, 194, 206);
    font-family: Roboto;
}

/* .bungee-spice-regular {
    font-family: "Bungee Spice", cursive;
    font-weight: 400;
    font-style: normal;
  }   */